// GLOBAL STYLES
body.ReactModal__Body--open {
  overflow: hidden;
}

.em-ds-modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  font-size: em-ds-font-size(normal);
  background-color: em-ds-color(neutral, 000);
  border-radius: 0.125em;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  right: auto;
  bottom: auto;
  margin: em-ds-space(s);
  transform: translate(-50%, 100%);
  transition: transform 250ms ease-in-out;
  outline: none;
  box-sizing: border-box;
  min-width: 320px;
  max-width: calc(640px - 1rem);
  max-height: calc(100% - 1rem);
  @media screen and (max-width: 767px) {
    width: calc(100% - 1rem);
    min-width: 0;
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    width: 600px;
    margin: em-ds-space(s) auto;
  }
  @media screen and (min-width: 1024px) {
    width: 836px;
    max-height: 709px;
    margin: em-ds-space(s) auto;
  }

  &[class*='after-open'] {
    transform: translate(-50%, -50%);
  }
  &[class*='before-close'] {
    transform: translate(-50%, 100%);
  }

  .em-ds-header {
    border-bottom: 1px solid em-ds-color(neutral, 300);
    padding: em-ds-space(s);
    background: em-ds-color(neutral, 050);
    &.left, &.right {
      .em-ds-icon {
        flex: 0 0 auto;
        margin-right: em-ds-space(s);
        .em-ds-icon-path {
          fill: em-ds-color(neutral, 300);
        }
      }
      .em-ds-modal-heading {
        flex: 1;
        padding: em-ds-space(xs) em-ds-space(none);
        font-weight: em-ds-font-weight(normal);
      }
    }
  }
  .em-ds-footer {
    justify-content: flex-end;
    border-top: 1px solid em-ds-color(neutral, 300);
    padding: em-ds-space(xs) em-ds-space(s);
    background: em-ds-color(neutral, 000);
    @media screen and (max-width: 767px) {
      display: none;
    }
    button {
      margin-bottom: em-ds-space(none);
    }
  }
}

.em-ds-modal--overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 9999;
  transition: opacity 250ms ease-in-out;
  opacity: 0;
  &[class*='after-open'] {
    opacity: 1;
  }
  &[class*='before-close'] {
    opacity: 0;
  }
}

.em-ds-modal--content {
  overflow: auto;
  padding: 0 em-ds-space(xs);
  margin-bottom: em-ds-space(xs);
  &.adjust-padding {
    padding-bottom: em-ds-space(l) * 2;
  }
}
