.em-ds-icon {
  display: inline-block;
  vertical-align: middle;
}

.em-ds-icon-path {
  fill: em-ds-color(brand, 800);
}

.em-ds-icon--disabled > .em-ds-icon-path {
  fill: em-ds-color(neutral, 100);
}