.target-rate-wrapper, .target-price-wrapper {
  display: flex;
  align-items: center;
  margin: em-ds-space(m) 0;

  .em-ds-field {
    flex-grow: 1;
    margin: 0 0;
    box-sizing: border-box;
  }

  .radial-wrapper {
    width: 35%;
  }

  &:first-child {
    margin-top: em-ds-space(s);
  }

  &:last-child {
    margin-bottom: 0;
  }
}
