$headerHeight: em-ds-space(xxl);
$contentPadding: 0;
$stepsHeight: em-ds-space(xxs) + em-ds-space(xxs);
$footerHeight: em-ds-space(xxl);
$contentHeightOffset: $headerHeight + $contentPadding * 2 + $stepsHeight + $footerHeight;

.opportunity-forms-container {
    .em-ds-modal {
        width: 100%;
        max-height: 100%;
        min-height: 100%;
        min-width: 100%;
        padding-top: 0;

        .em-ds-header {
            background-color: em-ds-color(brand, 700);
            color: em-ds-color(neutral, 000);

            .em-ds-icon {
                .em-ds-icon-path {
                    fill: em-ds-color(neutral, 000);
                }
            }
        }
        .em-ds-wizard--content {
            height: calc(100vh - #{$contentHeightOffset});
            padding: 0;
        }

        .form-field-group {
            padding: em-ds-space(m) em-ds-space(s);

            > .em-ds-field {
                &:first-child {
                    margin-top: em-ds-space(xs);
                }
            }

            &:not(:last-child) {
                border-bottom: 1px solid em-ds-color(neutral, 400);
            }
        }

        .fields-section {
            padding: em-ds-space(m) 0;
            border-bottom: 1px dashed em-ds-color(neutral, 200);

            &:first-child {
                padding-top: 0;
            }

            &:last-child {
                border-bottom: none;
                padding-bottom: 0;
            }

            > .em-ds-field {
                &:first-child {
                    margin-top: em-ds-space(xs);
                }
            }

            > :last-child {
                margin-bottom: 0;
            }
        }

        .opportunity-forms-personal-info-container {
            min-height: 100%;

            .heading-container {
                display: flex;
                justify-content: space-between;
            }

            .em-ds-field {
                &:first-child {
                    margin-top: em-ds-space(xs);
                }
            }

            .fields-section:last-child {
                margin-bottom: 0;
            }

            .em-ds-button {
                display: inline-flex;

                &+label {
                    margin-left: 16px;
                    margin-bottom: 4px;
                }
            }
        }
    }
}
