@import '../../dimsum.scss';

.spacing-page__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-direction: row;
}

.spacing-page__space__visual {  
  border: 1px dashed lightcoral;
  box-sizing: border-box;
  background-color: em-ds-color(danger, 200);
}

.spacing-page__space__visual-xxs {
  height: em-ds-space(xxs);
  width: em-ds-space(xxs);
}

.spacing-page__space__visual-xs {
  height: em-ds-space(xs);
  width: em-ds-space(xs);
}

.spacing-page__space__visual-s {
  height: em-ds-space(s);
  width: em-ds-space(s);
}

.spacing-page__space__visual-m {
  height: em-ds-space(m);
  width: em-ds-space(m);
}

.spacing-page__space__visual-l {
  height: em-ds-space(l);
  width: em-ds-space(l);
}

.spacing-page__space__visual-xl {
  height: em-ds-space(xl);
  width: em-ds-space(xl);
}

.spacing-page__space__visual-xxl {
  height: em-ds-space(xxl);
  width: em-ds-space(xxl);
}