.em-ds-input-text {
  display: inline-block;
  width: 100%;
  position: relative;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  border-radius: em-ds-space(xxs);
  border: 1px em-ds-color(neutral, 300) solid;
  height: em-ds-space(l) * 1.25;
  padding: em-ds-space(xs) * 1.25;
  color: em-ds-color(neutral, 300);
  @include em-ds-h4-text-style();

  // TODO: This needs to be fixed
  &:focus {
    outline: em-ds-color(brand, 400) 1px solid;
  }

  &::placeholder {
    @include em-ds-h4-text-style();
    color: em-ds-color(neutral, 300);
  }

  &+.em-prefix, &+.em-suffix {
    position: absolute;
    top: em-ds-space(xs) * 1.25;
  }

  &+.em-prefix {
    left: em-ds-space(xs);
  }

  &+.em-suffix {
    right: em-ds-space(xs);
  }

  &.em-ds-input-currency {
    padding-right: em-ds-space(xs);
    padding-left: em-ds-space(s) + 2;
  }

  &.em-ds-input-percent {
    padding-right: em-ds-space(s) * 1.25 + 1;
    padding-left: em-ds-space(xs);
  }

  &.em-ds-input-text--disabled {
    background-color: em-ds-color(neutral, 100);
    border: 1px solid em-ds-color(neutral, 400);
    color: em-ds-color(neutral, 400);
    cursor: not-allowed;
  }
}
