.scenario-info-header {
  padding: em-ds-space(s);
  h5 {
    @include em-ds-body-text-style();
    margin: em-ds-space(xxs) 0;
  }

  h3 {
      @include em-ds-h3-text-style(bold);
  }
}

.scenario-actions {
  list-style-type: none;
  padding: em-ds-space(l) em-ds-space(m) em-ds-space(xs) em-ds-space(s);
  margin: em-ds-space(xs) em-ds-space(none) em-ds-space(none);
  border-top: 1px solid em-ds-color(neutral, 100);

  li {
    display: flex;
    padding: 0 0 24px;

    a {
      padding-left: 16px;
    }
  }
}
