.em-ds-popover-modal {
  @include em-ds-margin((s, none));
  position: absolute;
  width: 242px;
  outline: none;
  background: em-ds-color(neutral, 000);
  border: 1px em-ds-color(neutral, 050) solid;
  box-shadow: 0 2px 4px 0 em-ds-color(neutral, 400),
    0 4px 8px 0 em-ds-color(neutral, 400);
  .em-ds-modal--content {
    margin-bottom: em-ds-space(none);
    padding: em-ds-space(none);
  }
  .arrow-point {
    position: absolute;
    top: -8px;
    content: '';
    border-width: 0 10px 8px 10px;
    border-color: transparent transparent em-ds-color(neutral, 000) transparent;
    border-style: solid;
    filter: drop-shadow(0px -2px 1px rgba(em-ds-color(neutral, 400), 0.2));
    &.right {
      right: em-ds-space(s);
    }
    &.left {
      left: em-ds-space(s);
    }
  }
}
.em-ds-popover--overlay {
  background: transparent;
}
