.em-ds-rate {
  display: flex;
  margin-top: em-ds-space(m);
  margin-bottom: em-ds-space(s);

  .em-ds-field {
    flex: 1;
    margin: 0 0;

    &:first-child {
      border-top-right-radius: em-ds-space(none);
      border-bottom-right-radius: em-ds-space(none);
      border-right: none;
    }
    
    &:last-child {
      border-top-left-radius: em-ds-space(none);
      border-bottom-left-radius: em-ds-space(none);
    }
  }

  .em-ds-input-currency {
    padding-right: em-ds-space(s) + 1;
  }

}