.scenario-card {
    .em-ds-card {
        @include em-ds-padding(none xs);
    }
    .em-ds-card-header {
        min-height: em-ds-space(xs);
        display: flex;
        align-items: baseline;
        .header-left-info-card {
            flex: 0 0 auto;
            font-size: em-ds-font-size(100);
            color: em-ds-color(neutral, 500);
            @include em-ds-padding(xs none);
        }
        .em-ds-card-icon {
            flex: 0 0 auto;
            margin-top: em-ds-space(xs);
        }
        .em-ds-card-heading {
            flex: 1;
            @include em-ds-padding(xs none);
            display: inline-flex;
            align-items: baseline;
            padding: em-ds-space(xs);
            h2 {
              margin-right: em-ds-space(xxs);
              color: em-ds-color(brand, 600);
            }
        }
    }
    .data-container {
        border-top: 1px solid em-ds-color(neutral, 200);
        display:flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .graph-container {
            position: relative;
            width:40%;
        }
        .info-container {
            width: 60%;
            display: flex;
            flex-direction: column;
            .info-title {
                text-align: left;
                margin-bottom: em-ds-space(xs);
                font-size: em-ds-font-size(300);
                color: em-ds-color(neutral, 800);
            }
            .general-info-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                .general-info {
                    display: flex;
                    flex-direction: column;
                    width: 33%;
                    text-align: left;
                }
                .general-info-title {
                    font-size: em-ds-font-size(200);
                    color: em-ds-color(neutral, 500);
                }
                .general-info-content {
                    font-size: em-ds-font-size(200);
                    color: em-ds-color(neutral, 800);
                }  
            }
        }
    }
}