.em-ds-scenarioheader {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  z-index: 5;
  padding: em-ds-space(xs);
  background-color:em-ds-color(neutral, 050);
  color: em-ds-color(neutral, 700);
  border-top: 2px solid em-ds-color(neutral, 600);
}
