.em-ds-search-bar {
  width: 100%;
  display: flex;
  align-items: center;
  height: em-ds-space(l);
  border: 1px em-ds-color(neutral, 050) solid;
  border-radius: em-ds-space(xxs);

  .input-field-container {
    width: 100%;
    display: flex;
    flex:1;
    align-items: center;
    height: em-ds-space(l);
    padding-left: em-ds-space(xs);
    .input-field-default {
      width: 100%;
      outline: none;
      border:none;
      padding-left: em-ds-space(xs);
    }
    .icon-search {
      color: em-ds-color(brand, 700);
    }
  }
  .inner-button {
    border-right: 1px em-ds-color(neutral, 050) solid;
    height: em-ds-space(l);
    .button-align-inner {
      .sort-button-logo {
        margin-left: em-ds-space(xs);
        color: em-ds-color(brand, 700);
      }
      display: flex;
      align-items: center;
    }
  }
}
