.comparison {
    .em-ds-header-title {
        display: flex;
        .icon-container {
            @include em-ds-padding(none xs);
            z-index: 10;
            .arrow-icon {
                @include em-ds-padding(none);
                margin-right : em-ds-space(s);
            }
        }
    }
}

.option-items-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin:auto;
    width: 80%;
    flex:1;
    .option-item {
        cursor: pointer;
        display:flex;
        text-align: left;
        @include em-ds-padding(s);
        .em-ds-label {  
          font-size: em-ds-font-size(400);
          
        }
        .item-icon {
            @include em-ds-padding(none);
            margin-right : em-ds-space(s);
        }
    }
}