$headerHeight: em-ds-space(xxl);
$footerHeight: em-ds-space(xxl);
$contentPadding: em-ds-space(s);
$contentHeightOffset: $headerHeight + $footerHeight + $contentPadding * 2;
.edit-scenario {
  .grid-y.form-section {
    margin: em-ds-space(s);
    height: calc(100vh - #{$contentHeightOffset});
    overflow-y: scroll; /* For IE11 */
    overflow-y: overlay;
  }

  .form-field-group {
    @include em-ds-padding(none none s none, true); // TODO: Refactor and remove
  }

  .section-divider {
    border-top: 1px dashed em-ds-color(neutral, 200);
    @include em-ds-padding(m none);
    @media print, screen and (min-width: 40em) {
      border-top: none;
      border-left: 1px dashed em-ds-color(neutral, 200);
      @include em-ds-padding(none none none m);
    }
  }

  .em-ds-heading {
    color: em-ds-color(neutral, 700);
  }

  .get-mi-section {
    margin-bottom: em-ds-space(l);

    .em-ds-heading {
      margin-bottom: em-ds-space(s);
      position: relative;
      top: em-ds-space(xxs);

      .abbreviation {
        margin-left: em-ds-space(xxs);
      }
    }

    .description-text {
      color: em-ds-color(neutral, 500);
      font-size: em-ds-font-size(300);
      @include em-ds-margin(s none);
    }
  }

  .get-mi-button {
    .em-ds-button {
      margin-left: auto;
      @media print, screen and (min-width: 40em) {
        margin-left: em-ds-space(none);
      }
    }
  }
  .description-text {
    color: em-ds-color(neutral, 500);
    font-size: em-ds-font-size(300);
  }

  .em-ds-footer {
    justify-content: center;
    @include em-ds-padding(l none);
    background: em-ds-color(neutral, 000);
    border-top: 1px solid em-ds-color(neutral, 400);
  }
}
