$headerHeight: em-ds-space(xxl);
$filterHeight: em-ds-space(xxl);
$footerHeight: em-ds-space(xxl);
$contentHeightOffset: $headerHeight + $filterHeight + $footerHeight;

.em-ds-searchBar {
  padding: em-ds-space(xs);
  overflow-x: scroll;
  white-space: nowrap;
  height: em-ds-space(xl);
  background-color: em-ds-color(neutral, 00);

  .em-ds-serachLabel {
    border: 1px em-ds-color(brand, 700) solid;
    color: em-ds-color(brand, 700);
    padding: em-ds-space(xs);
    border-radius: em-ds-space(xxs);
    display: inline-block;
    max-width: 100px;
    margin-right: em-ds-space(xs);
    overflow: hidden;
    text-overflow: ellipsis;
    }
  }

  .page {
    height: 100vh;

    .header {
      height: em-ds-space(xxl);
      display: flex;
      align-items: center;
      .content{
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      h5 {
        @include em-ds-body-text-style();
        color: em-ds-color(neutral, 000);
        margin: em-ds-space(xxs) 0;
      }
      h3 {
        @include em-ds-h3-text-style(bold);
        color: em-ds-color(neutral, 000);
      }
    }
    .container {
      overflow-y: auto;
      height: calc(100vh - #{$contentHeightOffset});
    }
  }
  
.opportunity-scenario-container {
  .footer {
    background-color: em-ds-color(neutral, 000);
    box-shadow: 0 -1px 0 0 em-ds-color(neutral, 400);
    height: em-ds-space(xxl);
    align-content: flex-end;

    button {
      margin-right: em-ds-space(s);
    }
   
  }
  .em-ds-modal {
    width: 100%;
    max-height: 100%;
    min-height: 100%;
    min-width: 100%;
    padding-top: em-ds-space(none);
    .em-ds-header {
      border-bottom: 2px solid em-ds-color(neutral, 600);
    }
  }
}
