@import '../../dimsum.scss';

.colors-page-wrapper{
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
}

.colors-page__color-container {
  line-height: 0;
  display: flex;
  flex-direction: column;
  margin: 1.2rem;
}

.color-page__color {
  height: em-ds-space(xl);
  width: em-ds-space(xl);
}

// Brand colors
.color-page__bc-100 {
  background-color: em-ds-color(brand, 100);
}

.color-page__bc-200 {
  background-color: em-ds-color(brand, 200);
}

.color-page__bc-300 {
  background-color: em-ds-color(brand, 300);
}

.color-page__bc-400 {
  background-color: em-ds-color(brand, 400);
}

.color-page__bc-500 {
  background-color: em-ds-color(brand, 500);
}

.color-page__bc-600 {
  background-color: em-ds-color(brand, 600);
}

.color-page__bc-700 {
  background-color: em-ds-color(brand, 700);
}

.color-page__bc-800 {
  background-color: em-ds-color(brand, 800);
}

// Feedback colors
.color-page__fcs-300 {
  background-color: em-ds-color(success, 300);
}

.color-page__fcs-900 {
  background-color: em-ds-color(success, 900);
}

.color-page__fcw-600 {
  background-color: em-ds-color(warning, 600);
}

.color-page__fcw-900 {
  background-color: em-ds-color(warning, 900);
}

.color-page__fcd-200 {
  background-color: em-ds-color(danger, 200);
}

.color-page__fcd-900 {
  background-color: em-ds-color(danger, 900);
}

// Neutral .colors
.color-page__ncd-000 {
  background-color: em-ds-color(neutral, 000);
}

.color-page__ncd-050 {
  background-color: em-ds-color(neutral, 050);
}

.color-page__ncd-080 {
  background-color: em-ds-color(neutral, 080);
}

.color-page__ncd-100 {
  background-color: em-ds-color(neutral, 100);
}

.color-page__ncd-200 {
  background-color: em-ds-color(neutral, 200);
}

.color-page__ncd-300 {
  background-color: em-ds-color(neutral, 300);
}

.color-page__ncd-400 {
  background-color: em-ds-color(neutral, 400);
}

.color-page__ncd-500 {
  background-color: em-ds-color(neutral, 500);
}

.color-page__ncd-600 {
  background-color: em-ds-color(neutral, 600);
}

.color-page__ncd-700 {
  background-color: em-ds-color(neutral, 700);
}

.color-page__ncd-800 {
  background-color: em-ds-color(neutral, 800);
}

.color-page__ncd-900 {
  background-color: em-ds-color(neutral, 900);
}