.sort-list-container {
  padding: 0px;

  li {
    list-style: none;
    padding: em-ds-space(xs) em-ds-space(m);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: em-ds-space(l);
    position: relative;

    input {
      display: none;

      & ~ .em-ds-icon {
        display: none;
      }

      &:checked ~ .em-ds-icon {
        display: block;
      }
    }

    label {
      align-items: center;
      display: flex;
      line-height: em-ds-space(s);
      width: 100%;
    }

    .asc-desc-icons {
      display: flex;
  
      svg {
          width: 16px;
          height: 16px;
      }
    }
  }
}
