.em-ds-heading {
  margin: 0;
  font-family: $font-base;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.em-ds-heading--h1 {
  font-size: em-ds-font-size(600);
}
.em-ds-heading--h2 {
  font-size: em-ds-font-size(500);
}
.em-ds-heading--h3 {
  font-size: em-ds-font-size(400);
}
.em-ds-heading--h4 {
  font-size: em-ds-font-size(300);
}
.em-ds-heading--h5 {
  font-size: em-ds-font-size(200);
}
