.em-data-grid {
  height: 100vh;
  margin: em-ds-space(xs) * 1.25;
  .ReactVirtualized__Table__headerRow {
    padding-top: em-ds-space(xxs) * 1.25;
    border-top: 2px solid em-ds-color(neutral, 500);
    border-bottom: 2px solid em-ds-color(neutral, 080);
    font-size: em-ds-font-size(300);
  }
}


/* Collection default theme */

.ReactVirtualized__Collection {
}

// .ReactVirtualized__Collection__innerScrollContainer {
//   width: 100% !important;
// }

/* Grid default theme */

.ReactVirtualized__Grid {
  outline: none;
}

.ReactVirtualized__Grid__innerScrollContainer {
}

/* Table default theme */

.ReactVirtualized__Table__row {
  border-bottom: 1px solid em-ds-color(neutral, 080);
  font-size: em-ds-font-size(200);
}

.ReactVirtualized__Table__Grid {
}

.ReactVirtualized__Table__headerRow {
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ReactVirtualized__Table__row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ReactVirtualized__Table__headerTruncatedText {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ReactVirtualized__Table__headerColumn,
.ReactVirtualized__Table__rowColumn {
  margin-right: em-ds-space(xs) * 1.25;
  min-width: 0px;
  &.primary {
    @include em-ds-body-text-style(semibold);
  }
}
.ReactVirtualized__Table__rowColumn {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ReactVirtualized__Table__headerColumn:first-of-type,
.ReactVirtualized__Table__rowColumn:first-of-type {
  margin-left: em-ds-space(xs) * 1.25;
}
.ReactVirtualized__Table__sortableHeaderColumn {
  cursor: pointer;
}

.ReactVirtualized__Table__sortableHeaderIconContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}
.ReactVirtualized__Table__sortableHeaderIcon {
  flex: 0 0 em-ds-space(m);
  height: em-ds-space(s);
  width: em-ds-space(s);
  fill: currentColor;
}

/* List default theme */

.ReactVirtualized__List {
}