@import '../../dimsum.scss';

.typography-page-heading1 {
  @include em-ds-h1-text-style();
}

.typography-page-heading2 {
  @include em-ds-h2-text-style();
}

.typography-page-heading3 {
  @include em-ds-h3-text-style();
}

.typography-page-heading4 {
  @include em-ds-h4-text-style();
}

.typography-page-heading5 {
  @include em-ds-h5-text-style();
}

.typography-page-section-header {
  @include em-ds-section-header-text-style();
}

.typography-page-body {
  @include em-ds-body-text-style();
}

.typography-page-body-small {
  @include em-ds-body-small-text-style();
}

.typography-page-link {
  @include em-ds-link-text-style();
}