.em-ds-card {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: em-ds-font-size(normal);
  box-shadow: 0 em-ds-space(xxs) em-ds-space(xs) 0 em-ds-color(neutral, 100);
  transition: 0.3s;
  border-radius: em-ds-space(xs);
}
  
  
  
  