.em-ds-headerlogo {
  display: flex;
  font-family: $font-base;
  text-overflow: ellipsis;
  align-items: center;

  .header-logo {
    display: inline;
    float: left;
  }

  .header-text {
    float: right;
    display: inline-block;
    padding-top: 1px;

    .header-text-top {
      display: inline;
      position: absolute;
      font-size: em-ds-font-size(100);
      padding-left: em-ds-space(xs);
    }
    .header-text-bottom {
      display: inline;
      position: absolute;
      padding-top: em-ds-space(xs);
      font-size: em-ds-font-size(300);
      padding-left: em-ds-space(xs);
    }

    .header-text-bottom-no-top {
      display: inline;
      font-size: em-ds-font-size(500);
      padding-left: em-ds-space(xs);
    }
  }
}

// Temporary styles for left nav
.em-ds-panel {
  .em-ds-modal {
    padding-top: 0;
    width: 80% !important;
    .em-ds-header {
      background: em-ds-color('brand', 500);
      color: em-ds-color('neutral', 000);
    }
    background: em-ds-color('brand', 600);
    ul.left-nav-items {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        border-bottom: 1px solid em-ds-color('brand', 800);
        padding: 1rem 0.5rem;

        a {
          text-decoration: none;
          color: em-ds-color('neutral', 000);;
        }
      }
    }
  }
}
