
.piechart-container {
    .title-text-chart {
        font-size: em-ds-font-size(100);
        color: #FFFFFF;
    }
    .value-text-chart {
        font-size: em-ds-font-size(400);
    }
    path {
        stroke-width: 0%;
    }

}