.em-ds-search-slider {
  font-family: $font-base;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background-color: em-ds-color(brand, 700);
  
  *:focus {
    outline: none;
  }

  .search-bar-fields {
    font-size: em-ds-font-size(300);
    height: 100%;
    display: flex;
    flex: 1;
    border-radius: em-ds-space(xxs);
    background-color: inherit;
    border: 1px solid em-ds-color('neutral', 000);
    color: em-ds-color('neutral', 000);
    align-items: center;

    .search-by-field {
      padding-left: em-ds-space(xs);
      display: flex;
      flex-direction: row;
      align-items: center;
      border-right: 1px solid em-ds-color('neutral', 000);
      height: 100%;

      .field-text {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .em-ds-icon-path {
        fill: em-ds-color('neutral', 000);
      }

      .search-options-button {
        margin-left: em-ds-space(xs);
        padding-right: em-ds-space(xs);
      }
    }

    .search-bar-slider-input {
      flex: 1;
      background-color: inherit;
      padding-left: em-ds-space(xs);
      font-size: em-ds-font-size(200);
      border: none;
      box-sizing: border-box;
      color: em-ds-color('neutral', 000);
      flex-grow: 1;

      &::placeholder {
        color: em-ds-color('neutral', 000);
        font-size: em-ds-font-size(300);
      }
    }
  }

  .cancel-button {
    background-color: inherit;
    border: 0;
    outline: 0;

    .cancel-button-icon {
      .em-ds-icon-path {
        fill: em-ds-color('neutral', 000);
      }
    }
  }
}
