.opportunity-actions {
  list-style-type: none;
  padding: em-ds-space(l) em-ds-space(m) em-ds-space(xs);
  margin: em-ds-space(xs) 0 0;
  border-top: 1px solid em-ds-color(neutral, 400);
  color: em-ds-color(neutral, 900);

  li {
    display: flex;
    padding: 0 0 em-ds-space(m);

    a {
      padding-left: em-ds-space(s);
    }
  }
}
