.scenario-card-list {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 1024px){
    .scenario-card-list {
        justify-content: flex-start;
    }    
}

