input[type=radio] {
    left: em-ds-space(xs);
    opacity: 0;
    position: absolute;
    top: em-ds-space(xs);

    &+label {
        @include em-ds-h4-text-style();
        cursor: pointer;
        display: inline-block;
        line-height: em-ds-space(l);
        height: em-ds-space(l);
        margin-left: em-ds-space(none);
        padding-left: em-ds-space(xl);
        padding-right: em-ds-space(l);
        position: relative;
        top: em-ds-space(none);
        @media screen and (min-width: 768px) {
            padding-left: em-ds-space(l);
            padding-right: em-ds-space(none);
        }

        &:active::before {
            background-color: em-ds-color(brand, 600);
        }
    }

    &+label::before {
        border: 1px solid em-ds-color(neutral, 200);
        border-radius: 50%;
        box-sizing: border-box;
        content: "";
        height: em-ds-space(l);
        left: em-ds-space(none);
        position: absolute;
        top: em-ds-space(none);
        width: em-ds-space(l);
        @media screen and (min-width: 768px) {
            width: em-ds-space(s);
            height: em-ds-space(s);
        }
    }

    &+label::after {
        background: em-ds-color(neutral, 500);
        border-radius: 50%;
        content: "";
        display: none;
        height: em-ds-space(s);
        left: em-ds-space(xs);
        position: absolute;
        top: em-ds-space(xs);
        width: em-ds-space(s);
        @media screen and (min-width: 768px) {
            width: em-ds-space(xs);
            height: em-ds-space(xs);
            top: em-ds-space(xxs);
            left: em-ds-space(xxs);
        }
    }

    &:checked {
        +label::before {
            background-color: em-ds-color(brand, 600);
            border: 1px solid em-ds-color(brand, 600);
        }

        +label::after {
            background: em-ds-color(neutral, 000);
            border: 1px solid em-ds-color(neutral, 200);
            box-sizing: border-box;
            display: block;
        }
    }
}
