$borderColor: em-ds-color(brand, 400);
$listUnderlineColor: em-ds-color(neutral, 400);
$hightlightColor: em-ds-color(brand, 300);
$listBackgroundColor: em-ds-color(neutral, 000);
.em-ds-dropdown {
    .dropdown-header {
        position: relative;
        @include inputBox(false);

        a{
            position: absolute;
            right: 0.5rem;
            top: 0.3125rem;
            cursor: pointer;
            &:focus {
                outline: 1px dotted black;
            }
        }
        
    }
    position: absolute;
    min-width: 12.5rem;
    background: $listBackgroundColor;
    z-index: 9999;
    ul {
        left: 0;
        list-style: none;
        margin: 0;
        padding-left: 0;
        border: 1px solid $borderColor;
        max-height: 200px;
        overflow: auto; // For IE
        overflow-y: overlay;
        li {
            padding: 0.1875rem 0.5rem;
            a {
                text-decoration: none;
                color: black;
                display: block;
                cursor: pointer;
                &:focus {
                    outline: none;
                }
            }
            &.active {
                background-color: $hightlightColor;
            }
            &:not(:last-child) {
                border-bottom: 1px solid $listUnderlineColor;
            }
            &:hover {
                background-color: $hightlightColor;
            }
            &.active {
                background-color: $hightlightColor;
            }
            
        }
    }
}
