.slider {
  padding-right: em-ds-space(xs);
  padding-left: em-ds-space(xs);
}

.openState {
  animation-name: slideIn;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

.closedState {
  animation-name: slideIn;
  animation-duration: .5s;
  animation-direction: reverse;
  animation-fill-mode: forwards;
}

.initState {
  transform: translate(110%);
}

@keyframes slideIn {
    0%   {
      transform: translate(110%);
    }
    100% {
      transform: translate(0%);
    }
}


/* ===========================================
  standard view CSS */

/* Search and Action button Display */

.searchbar-logo {
  z-index: 0;
}

.logo-container {
  position: absolute;
  padding: em-ds-space(xxs) 0 0 em-ds-space(s);
}
.icon-container {
  flex: 1;
  position: absolute;
  right: 0;
  padding-right: em-ds-space(s);
  padding-top: em-ds-space(xs);
  .em-ds-icon-path {
    fill: em-ds-color(neutral, 000);
  }
  .arrow-icon{
    padding-right: em-ds-space(s);
  }
}
