.em-ds-label {
  @include em-ds-body-text-style();
  display: inline-block;
}

.em-ds-label-small {
  @include em-ds-list-text-style();
  color: em-ds-color(neutral, 500);
}

.em-ds-label--disabled {
  color: em-ds-color(neutral, 400);
}
