.em-ds-header {
  align-items: center;
  display: flex;
  @include headerSpacing();

  > *:first-child {
    flex: 1;
  }
}

.em-ds-page-header {
  align-items: center;
  background-color: em-ds-color(brand, 700);
  color: em-ds-color(neutral, 000);
  display: flex;
  height: em-ds-space(xxl);
  overflow: hidden;

  .em-ds-icon-path {
    fill: em-ds-color(neutral, 000);
  }

  .em-ds-header-navigation {
    display: block;
    margin: 0 em-ds-space(m) 0 em-ds-space(s);
  }

  .em-ds-header-title {
    flex-grow: 1;
  }

  .em-ds-header-moreactions {
    margin-right: em-ds-space(s);
  }
}
