.summary-bar {
    display: flex;
    justify-content: space-between;
    background: transparent;
    padding: em-ds-space(xs) em-ds-space(m) em-ds-space(xs) em-ds-space(none);
    background: em-ds-color(neutral, 050);

    .summary-bar-fields {
        display: flex;
    
        .summary-bar-item {
            padding: em-ds-space(xs) em-ds-space(s);
            border-right: 1px dotted em-ds-color(neutral, 600);
    
            .summary-bar-data {
                font-size: em-ds-font-size(200);
                color: em-ds-color(neutral, 900);
            }
        
            .summary-bar-name {
                font-size: em-ds-font-size(100);
                color: em-ds-color(neutral, 600);
            }
        }
    }

    .em-ds-icon {
        display: inline-block;
        margin: auto 0;
    }
}
