// Note: The URLs here don't match with filesystem due to a defect in node-sass and webpack sass loader.

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('./styles/base/fonts/ProximaNovaRegular.eot');
  src: url('./styles/base/fonts/ProximaNovaRegular.eot?#iefix') format('embedded-opentype'),
    url('./styles/base/fonts/ProximaNovaRegular.woff2') format('woff2'),
    url('./styles/base/fonts/ProximaNovaRegular.woff') format('woff'),
    url('./styles/base/fonts/ProximaNovaRegular.ttf') format('truetype'),
    url('./styles/base/fonts/ProximaNovaRegular.svg#wf') format('svg');
  font-weight: 400;
}

@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('./styles/base/fonts/ProximaNovaBold.eot');
  src: url('./styles/base/fonts/ProximaNovaBold.eot?#iefix') format('embedded-opentype'),
    url('./styles/base/fonts/ProximaNovaBold.woff2') format('woff2'),
    url('./styles/base/fonts/ProximaNovaBold.woff') format('woff'),
    url('./styles/base/fonts/ProximaNovaBold.ttf') format('truetype'),
    url('./styles/base/fonts/ProximaNovaBold.svg#wf') format('svg');
  font-weight: 700;
}
