$em-ds-color-palette-data: (
  neutral: (
    1000: #000000,
    900: #333333,
    800: #25292F,
    700: #353C46,
    600: #464F5C,
    500: #697489,
    400: #A9B1BE,
    300: #B0B9C8,
    200: #CBCFD7,
    100: #E0E3E8,
    080: #EBEDF0,
    050: #F6F7F9,
    000: #FFFFFF
  ),

  brand: (
    800: #005181,
    700: #006AA9,
    600: #2080CD,
    500: #1394E5,
    400: #52A6EC,
    300: #A3D6FF,
    200: #EBF6FF,
    100: #F6FBFF
  ),

  success: (
    900: #32B87C,
    300: #D4F0E5
  ),

  warning: (
    900: #FF9400,
    600: #FBB431
  ),

  danger: (
    900: #E34256,
    200: #F7CDD2
  )
);
