$em-ds-font-size-data: (
  700: 36px,
  600: 24px,
  500: 18px,
  400: 16px,
  300: 14px,
  200: 13px,
  100: 12px
);

$em-ds-line-height-data: (
  normal: normal,
  600: 1.5rem,
  500: 1.25rem,
  400: 1rem,
  300: .90rem,
  200: .75rem
);
  
$em-ds-font-weight-data: (
  bold: 900,
  semibold: 600,
  normal: 400,
  light: 300
);