.empty-opportunity-list {
  text-align: center;
  padding: 50% 6%;

  p {
    margin: 0;
  }

  .empty-list-header {
    font-size: em-ds-font-size(600);
    color: em-ds-color(neutral, 900);
    font-weight: em-ds-font-weight(normal);
    padding: em-ds-space(l) 0 em-ds-space(s)
  }

  .empty-list-content {
    font-size: em-ds-font-size(500);
    color: em-ds-color(neutral, 500);
  }
}
