@mixin inputBox($isInput: true) {
    background-color: em-ds-color(neutral, 000);
    width: 100%;
    box-sizing: border-box;
    border-radius: em-ds-space(xxs);
    border: 1px em-ds-color(neutral, 300) solid;
    height: em-ds-space(l) * 1.25;
    padding: em-ds-space(xs);
    @include em-ds-h4-text-style();

    // TODO: This needs to be fixed
    // &:focus {
    //   outline: em-ds-color(brand, 400) 1px solid;
    // }

    @if $isInput == true {
        &::placeholder {
            color: em-ds-color(neutral, 300);
            @include em-ds-h4-text-style();
        }
    }
}