@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin headerSpacing() {
  height: em-ds-space(xxl);
  padding: 0 em-ds-space(xs) 0 em-ds-space(s);
}

@mixin footerSpacing() {
  height: em-ds-space(xxl);
  padding: em-ds-space(xs);
}

@mixin em-ds-padding($values, $important: false) {
  $padding: ();
  @each $var in $values {
    $padding: append($padding, em-ds-space($var));
  }
  @if $important {
    padding: $padding !important;
  } @else {
    padding: $padding;
  }
  
}

@mixin em-ds-margin($values, $important: false) {
  $margin: ();
  @each $var in $values {
    $margin: append($margin, em-ds-space($var));
  }
  @if $important {
    margin: $margin !important;
  } @else {
    margin: $margin;
  }
}
