$em-ds-base-text-color: em-ds-color(neutral, 900);
$em-ds-secondary-text-color: em-ds-color(neutral, 600);
$em-ds-link-text-color: em-ds-color(brand, 600);

/// Returns desired styles for a given typography style.
///
/// @param {String} $weight - light, normal, semibold, bold.

@mixin em-ds-h1-text-style($weight: normal) {
  font-size:   em-ds-font-size(700);
  line-height: em-ds-line-height(normal);
  font-weight: em-ds-font-weight($weight);
  color:       $em-ds-base-text-color;
}

@mixin em-ds-h2-text-style($weight: normal) {
  font-size:   em-ds-font-size(600);
  line-height: em-ds-line-height(normal);
  font-weight: em-ds-font-weight($weight);
  color:       $em-ds-base-text-color;
}

@mixin em-ds-h3-text-style($weight: normal) {
  font-size:   em-ds-font-size(500);
  line-height: em-ds-line-height(normal);
  font-weight: em-ds-font-weight($weight);
  color:       $em-ds-base-text-color;
}

@mixin em-ds-h4-text-style($weight: normal) {
  font-size:   em-ds-font-size(400);
  line-height: em-ds-line-height(normal);
  font-weight: em-ds-font-weight($weight);
  color:       $em-ds-base-text-color;
}

@mixin em-ds-h5-text-style($weight: normal) {
  font-size:   em-ds-font-size(300);
  line-height: em-ds-line-height(normal);
  font-weight: em-ds-font-weight($weight);
  color:       $em-ds-base-text-color;
}

@mixin em-ds-section-header-text-style($weight: semibold) { 
  font-size:   em-ds-font-size(300);
  line-height: em-ds-line-height(normal);
  font-weight: em-ds-font-weight($weight);
  text-transform: uppercase;
  color:       $em-ds-base-text-color;
}

@mixin em-ds-section-header-secondary-text-style($weight: normal) { 
  font-size:   em-ds-font-size(300);
  line-height: em-ds-line-height(normal);
  font-weight: em-ds-font-weight($weight);
  color:       $em-ds-secondary-text-color;
}

@mixin em-ds-body-text-style($weight: normal) {
  font-size:   em-ds-font-size(200);
  line-height: em-ds-line-height(normal);
  font-weight: em-ds-font-weight($weight);
  color:       $em-ds-base-text-color;
}

@mixin em-ds-body-small-text-style($weight: normal) { 
  font-size:   em-ds-font-size(100);
  line-height: em-ds-line-height(normal);
  font-weight: em-ds-font-weight($weight);
  color:       $em-ds-base-text-color;
}

@mixin em-ds-list-text-style($weight: normal) { 
  font-size:   em-ds-font-size(200);
  line-height: em-ds-line-height(normal);
  font-weight: em-ds-font-weight($weight);
  color:       $em-ds-base-text-color;
}

@mixin em-ds-link-text-style($weight: normal) { 
  line-height: em-ds-line-height(200);
  font-weight: em-ds-font-weight($weight);
  color:       $em-ds-link-text-color;
  cursor: pointer;
}
