$offScreenOffset: -320px;

@mixin panel($direction: left, $top: 0, $right: 0, $bottom: 0, $left: 0, $width: auto) {
  @include positionShorthand($top: $top, $right: $right, $bottom: $bottom, $left: $left);
  max-height: 100%;
  height: 100%;
  width: $width;
  transition: opacity 0.3s linear, $direction 0.3s ease-out;
  &[class*='after-open'] {
    $leftAfter: 0;
    @if($direction == right) {
      $leftAfter: auto;
    }
    transform: none;
    @include positionShorthand($top: 0, $right: 0, $bottom: 0, $left: $leftAfter);
  }
  &[class*='before-close'] {
    transform: none;
  }
}
.em-ds-panel {
  .em-ds-modal {
    margin: 0;
  }
  &.left {
    .em-ds-modal {
      @include panel($direction: left, $left: $offScreenOffset, $width: 30%);
    }
  }
  &.right {
    .em-ds-modal {
      @include panel($direction: right, $left: auto, $right: $offScreenOffset, $width: 30%);
    }
  }
}
