$white: em-ds-color(neutral, 000);

.greeting {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: em-ds-space(none) em-ds-space(s);
  font-size: em-ds-font-size(300);
  color: $white;
  svg.arrow-icon {
    vertical-align: sub;
  }
}
