$white: em-ds-color(neutral, 000);
$nav-background: em-ds-color(brand, 600);
$nav-button-hover: em-ds-color(brand, 400);

.navbar {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: $nav-background;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .nav-container {
    display: inherit;
    flex: 2;
    padding: em-ds-space(none) em-ds-space(l);
    height: 100%;
    button.em-ds-button-text {
      font-weight: em-ds-font-weight(base);
      color: $white;
      height: 100%;
      border-radius: 0;
      transition: background-color ease 0.3s;
      a {
        color: inherit;
        text-decoration: none;
        font-weight: normal;
      }
      &:hover:not([disabled]) {
        background-color: $nav-button-hover;
      }
    }
  }

  .logo-container {
    padding-left: em-ds-space(s);
    justify-content: space-between;
    min-width: 120px;
    max-height: em-ds-space(l);
    overflow: hidden;
    .em-ds-headerlogo {
      display: inline-block;
    }
    .header-text-bottom-no-top {
      color: $white;
      vertical-align: text-top;
    }
    .logo-side-text {
      display: inline-block;
      font-size: em-ds-font-size(100);
      opacity: 0.6;
      color: $white;
      vertical-align: super;
      span:nth-child(1) {
        vertical-align: super;
      }
      span:nth-child(2) {
        font-size: 7px;
        vertical-align: middle;
      }
      span:nth-child(3) {
        vertical-align: text-top;
      }
    }
  }

  .info-container {
    display: flex;
    .em-ds-icon-path {
      fill: $white;
    }
  }
}
