.notification-container {
  position: relative;
  width: em-ds-space(l);
  margin: em-ds-space(none) em-ds-space(s);
  cursor: pointer;
  .notification-bubble {
    position: absolute;
    top: -5px;
    left: 12px;
    background: em-ds-color(warning, 900);
    padding: em-ds-space(none) em-ds-space(xxs);
    border: 2px solid em-ds-color(brand);
    border-radius: em-ds-space(xs) + em-ds-space(xxs);
    color: em-ds-color(neutral, 000);
    font-size: em-ds-font-size(100);
    text-align: center;
    > span {
      vertical-align: sub;
    }
  }
}
