.info-section {
  display: flex;
  flex-direction: column;
  margin-bottom: em-ds-space(xxs);
  line-height: 1;
  
  p {
    margin: 0;
  }

  .personal-info-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    color: #333333;
    font-weight: 600;
  }

  .property-info-section {
    display: flex;
    align-items: center;
    font-size: 13px;
    color: #333333;
    min-height: em-ds-space(s);

    .dot-separator {
      padding: 0 8px 0;
    }
  }

  &.in-action-sheet {
    padding: 8px 24px;

    .property-info-section {
      color: #697489;
    }
  }
}

