.custom-input-wrapper {
    .custom-input-group-item {
        display: flex;
        justify-content: space-between;
        margin: 8px 0;
        .em-ds-input-text {
            width: unset;
        } 
    }
}