.em-ds-field {
  margin-top: em-ds-space(m);
  margin-bottom: em-ds-space(s);
  position: relative;
  box-sizing: border-box;

  &.em-ds-field-text, &.em-ds-field-select {
    border-radius: em-ds-space(xxs);
    border: 1px em-ds-color(neutral, 300) solid;
  }

  input, select {
    border: 0px em-ds-color(neutral, 300) solid;
    height: em-ds-space(xl) * 0.75;
    padding-bottom: em-ds-space(xs);
    background: transparent;

    &:focus {
      outline: none;
      box-shadow: 0 0 2pt 1pt em-ds-color(brand, 400);
    }

    &.em-ds-input-text--disabled {
      border: none;
    }
  }

  .em-ds-label {
    @include em-ds-list-text-style();
    position: absolute;
    margin-left: em-ds-space(xs);
    padding: 0 em-ds-space(xxs);
    background: em-ds-color(neutral, 000);
    color: em-ds-color(neutral, 500);
    top: - em-ds-space(xs);
    z-index: 1;
  }

  input[type=checkbox] {
    left: em-ds-space(xs);
    opacity: 0;
    position: absolute;
    top: em-ds-space(xs);
    
    &+label {
      @include em-ds-h4-text-style();
      cursor: pointer;
      display: inline-block;
      line-height: em-ds-space(l);
      margin-left: em-ds-space(none);
      padding-left: em-ds-space(xl);
      position: relative;
      top: em-ds-space(none);

      &:active::before {
        background-color: em-ds-color(brand, 600);
      }
    }
  
    &+label::before {
      border: 1px solid em-ds-color(neutral, 200);
      border-radius: 25%;
      content: "";
      height: em-ds-space(l);
      width: em-ds-space(l);
      top: em-ds-space(none);
      left: em-ds-space(none);
      position: absolute; 
      box-sizing: border-box;
    }

    &+label::after {
      border-bottom: 1px solid em-ds-color(neutral, 500);
      border-left: 1px solid em-ds-color(neutral, 500);
      content: "";
      display: none;
      height: em-ds-space(xs);
      left: em-ds-space(xs);
      top: em-ds-space(xs);
      width: em-ds-space(s);
      position: absolute;
      transform: rotate(-45deg);
      
    }

    &:checked {
      +label::before {
        background-color: em-ds-color(brand, 600);
        border: 1px solid em-ds-color(brand, 600);
      }

      +label::after {
        display: block;
        border-bottom: 1px solid em-ds-color(neutral, 000);
        border-left: 1px solid em-ds-color(neutral, 000);
      }
    }

    &.em-ds-checkbox--oval + label::before {
      border-radius: 50%;
    }
    
    &.em-ds-checkbox--disabled + label {
      cursor: default;

      &::before {
        background-color: em-ds-color(neutral, 200);
        border: 1px solid em-ds-color(neutral, 80);
      }
    }
  }

  input[type=radio] {
    &+label::before {
      border-radius: 50%;
    }
  }
}

.em-ds-field-small {
  
  input[type=checkbox] {
    &+label {
      line-height: em-ds-space(s);
    }
  
    &+label::before {
      height: em-ds-space(s);
      width: em-ds-space(s);
    }

    &+label::after {
      height: em-ds-space(xxs);
      left: em-ds-space(xxs);
      top: em-ds-space(xxs);
      width: em-ds-space(xs);
      
    }
  }
}