.scenario-details-wrapper {
    display: flex;
    flex-direction: column;
    
    .scenario-details-container {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      .scenario-details-monthly-payment {
        background-color: em-ds-color(neutral, 000);
        padding: em-ds-space(l) em-ds-space(s) ;
      }
      
      .column {
        flex-grow: 1;
      }
  
      .scenario-details.column {
          background: em-ds-color(neutral, 050);
          box-shadow: 0 -1px 0 0 em-ds-color(neutral, 080);
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: em-ds-space(s);
       
          section {
              padding-top: em-ds-space(s);
              width: 100%;
              &:not(:last-child) {
                border-bottom: 1px dashed em-ds-color(neutral, 200);
              }
  
              .scenario-details-row {
                display: flex;
                margin: em-ds-space(s) 0;
                
                .scenario-details-cell {
                    width: 100%;
                }
              }
  
              .section-header {
                @include em-ds-section-header-text-style();
              }
  
              .em-ds-label {
                @include em-ds-h4-text-style();
              }
  
              .section-seconday-header {
                @include em-ds-section-header-secondary-text-style();
              }
          }
      }
    }
  
    /* For Desktop */
    @media(min-width: 640px) {
      .scenario-details-container {
        flex-direction: row;
        
        .scenario-details.column {
          flex-direction: row;
          flex-grow: 1;
          
          .border {
            border-bottom: 1px dashed em-ds-color(neutral, 200);
          }

          section {
            margin-right: em-ds-space(l);
            width: 50%;
            &:not(:last-child) {
              border-bottom: none;
            }
          }
        }
      }
    }
  }