.em-ds-steps {
  display: flex;
  justify-content: space-around;
  padding: 0%;
  margin: em-ds-space(xxs) 0 0 0;
}
.em-ds-step {
  background-color: em-ds-color(neutral, 100);
  box-sizing: border-box; 
  list-style: none;
  padding-top: em-ds-space(xxs);
  width: 100%;
  
  &:not(:last-child) {
    margin-right: em-ds-space(xxs);
  }
}
.em-ds-accessed {
  background: linear-gradient(to right, em-ds-color(brand, 700), em-ds-color(brand, 600) 40%, em-ds-color(brand, 400) 100%);
}