.em-ds-actionsheet{
  .em-ds-modal {
    bottom: 0;
    left: 50%;
    margin: 0;
    max-width: 100%;
    top: unset;
    width: 100%;

    .em-ds-header {
      height: em-ds-space(m);
      padding-top: em-ds-space(s);
      padding-bottom: em-ds-space(s);
      border-bottom: 1px solid em-ds-color(neutral, 100);
      font-size: 16px;
    }
    &[class*='after-open'] {
      transform: translate(-50%, 0%);
    }
    &[class*='before-close'] {
      transform: translate(-50%, 100%);
    }
  }
}
