.em-ds-scenarioresultcard {
  padding: em-ds-space(s);
  border-bottom: 0.5px solid em-ds-color(neutral, 300);
  display: flex;
  
  .em-ds-card{
    flex-grow: 1;
  }
  hr{
    border-top: dotted 1.5px em-ds-color(neutral, 300) ;
    width: 100%;
  }
  label{
    padding-right: em-ds-space(xs);
  }
  .em-ds-lighttext{
    color: em-ds-color(neutral, 500);
    font-size:em-ds-font-size(300);
    line-height: normal;
  }
  .em-ds-boldcolor{
    color:em-ds-color(brand, 700);
  }
  .em-ds-smalltext{
    font-size:em-ds-font-size(300);
    line-height: normal;
  }
  .em-ds-scenarioicon{
    float: right;
  }
  .em-ds-field{
    margin-top: em-ds-space(none);
    line-height: em-ds-space(none);
 }
 .em-ds-scenarioalign{
   border-top: dotted 1.5px em-ds-color(neutral, 300);
   margin-top:em-ds-space(s);
   padding-top: em-ds-space(s);
   display: flex;
   div{
    display: inline-block;
    flex-grow: 1;
    margin-right: em-ds-space(m); 
   }
 }
}
.em-ds-cardfield{
 flex-grow: 1;
}

