$cardHeight: 89px;
.opportunity-card {
  background-color: #FFFFFF;
  height: $cardHeight;
  border-bottom: 1px solid #A9B1BE;
  padding: em-ds-space(s);
  
  p {
    margin: 0;
  }

  .secondary-info {
    display: flex;
    padding-top: em-ds-space(xs);
    justify-content: space-between;
    font-size: em-ds-font-size(200);
    color: #697489;
    line-height: 1;
  }
}
