.popover-list {
  padding: 16px;
  margin: 0;
  li {
    list-style: none;
    font-size: 13px;//em-ds-font-size(200);
    cursor: pointer;
    svg {
      margin-right: 16px;//em-ds-spacing(s);
    }
    &:not(:last-child) {
      margin-bottom: 16px; //em-ds-spacing(s);
    }
  }
}