.opportunities-view {
  .content {
    padding-top: 50px;
    .header {
      padding: 0 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .em-ds-search-bar {
        max-width: 300px;
        background: #f6f7f9;
        border: 1px #e0e3e8 solid;
        input {
          background: transparent;
        }
      }
    }
  }
}
.em-ds-popover-modal {
  .sort-list-container li label {
    align-items: flex-start;
  }
}