$em-ds-button-height: 28px;
$em-ds-fab-size: em-ds-space(xl);
$em-ds-button-border-radius: 2px;
$em-ds-button-width: em-ds-space(xxl);
$em-ds-button-padding: 0 em-ds-space(s);

.em-ds-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $em-ds-button-height;
  min-width: $em-ds-button-width;
  border-radius: $em-ds-button-border-radius;
  line-height: $em-ds-button-height;
  padding: $em-ds-button-padding;
  @include em-ds-body-text-style(semibold);
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
}

.em-ds-button-primary {
  background-color: em-ds-color(brand, 600);
  color: em-ds-color(neutral, 000);
  fill: em-ds-color(neutral, 000);
  border: 1px solid em-ds-color(brand, 700);

  &:hover:not([disabled]) {
    background-color: em-ds-color(brand, 500);
  }

  &:active {
    background-color: em-ds-color(brand, 700);
  }

  &:disabled {
    color: em-ds-color(neutral, 100);
    background-color: em-ds-color(neutral, 400);
    border-color: em-ds-color(neutral, 400);
    cursor: not-allowed;
  }

  .em-ds-icon-path {
    fill: em-ds-color(neutral, 000);
  }
}

.em-ds-button-secondary {
  background-color: em-ds-color(neutral, 000);
  color: em-ds-color(brand, 600);
  fill: em-ds-color(brand, 600);
  border: 1px solid em-ds-color(neutral, 400);

  &:hover:not([disabled]) {
    border: 1px solid em-ds-color(brand, 500);
  }

  &:active {
    border: 1px solid em-ds-color(brand, 700);
    color: em-ds-color(brand, 700);
  }

  &:disabled {
    color: em-ds-color(neutral, 400);
    border-color: em-ds-color(neutral, 400);
    cursor: not-allowed;
  }

  .em-ds-icon-path {
    fill: em-ds-color(brand, 600);
  }
}

.em-ds-button-text {
  color: em-ds-color(brand, 500);
  text-transform: uppercase;
  background-color: transparent;
  border: none;

  &:hover:not([disabled]) {
    background-color: transparent;
    cursor: pointer;
  }

  &:disabled {
    color: em-ds-color(neutral, 400);
    background-color: em-ds-color(neutral, 100);
    cursor: not-allowed;
  }
}

.em-ds-button-icon {
  padding: 0;
  min-width: 28px;

  &:disabled {
    border: 0;
    cursor: not-allowed;

    .em-ds-icon-path {
      fill: em-ds-color(neutral, 500);
      pointer-events: none;
    }
  }
}

.em-ds-button-fab {
  @include center;
  position: fixed;
  width: $em-ds-fab-size;
  height: $em-ds-fab-size;
  border-radius: 50%;
  right: em-ds-space(s);
  bottom: em-ds-space(s);
}

.em-ds-button-fab--left {
  left: em-ds-space(s);
}
.em-ds-button-fab--top {
  top: em-ds-space(s);
}
