.em-ds-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  .spinner {
    background: em-ds-color(neutral, 000);
    border-radius: 50%;
    width: em-ds-space(xl);
    height: em-ds-space(xl);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 15px -5px rgba(0, 0, 0, 0.8);
    &:after {
      content: ' ';
      display: block;
      border: 2px solid em-ds-color(neutral, 200);
      border-top: 3px solid em-ds-color(brand, 600);
      border-radius: 50%;
      width: em-ds-space(xl) / 2;
      height: em-ds-space(xl) / 2;
      animation: spin 1s linear infinite;
    }
  }
  .message {
    padding-top: em-ds-space(s);
  }
}

.em-ds-spinner-overlay {
  background-color: rgba(em-ds-color(neutral, 1000), 0.5);
  .message {
    color: em-ds-color(neutral, 000);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
