.em-ds-carousel-wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;

  // Slides
  .em-ds-carousel-slides {
    display: flex;
    & > * {
      flex-basis: 0;
      flex-grow: 1;
    }
  }

  .em-ds-carousel-slides--transition {
    transition: transform 0.25s;
  }

  // Nav buttons
  .em-ds-carousel-nav {
    display: flex;
    justify-content: center;
    margin-top: em-ds-space(xs);
    order: 2;

    .em-ds-carousel-nav-button {
      background: none;
      border: 0;
      height: em-ds-space(m);
      opacity: 0.5;
      outline: none;
      padding: em-ds-space(none);
      position: relative;
      transition: opacity 0.25s;
      width: em-ds-space(m);

      &::after {
        background: em-ds-color(neutral);
        border-radius: 50%;
        content: '';
        display: block;
        height: em-ds-space(xs);
        left: em-ds-space(xs) * 0.75;
        position: absolute;
        top: em-ds-space(xs) * 0.75;
        width: em-ds-space(xs);
      }
    }

    .em-ds-carousel-nav-button--active {
      opacity: 0.75;

      &::after {
        height: em-ds-space(s) * 0.75;
        left: em-ds-space(xxs);
        opacity: 1;
        top: em-ds-space(xxs);
        width: em-ds-space(s) * 0.75;
      }
    }
  }

  // Nav arrows
  .em-ds-carousel-arrow-container {
    position: absolute;
    top: calc(50% - 35px);
    width: 100%;
    z-index: 1;

    .em-ds-carousel-arrow {
      background: none;
      border: none;
      height: em-ds-space(xs) * 5;
      opacity: 0.5;
      outline: none;
      padding: 0px;
      position: absolute;
      transition: opacity 0.25s;
      width: em-ds-space(xs);

      &:hover {
        opacity: 1;
      }

      &::after, &::before {
        background: em-ds-color(neutral, 100);
        content: '';
        height: em-ds-space(m) - 1;
        left: em-ds-space(xxs);
        position: absolute;
        width: em-ds-space(xxs);
      }

      &::after {
        bottom: 0;
      }
      &::before {
        top: 0;
      }
    }

    .em-ds-carousel-arrow--left {
      left: em-ds-space(xs);
      top: 0;

      &::before {
        transform: rotate(30deg);
      }
      &::after {
        transform: rotate(-30deg);
      }
    }

    .em-ds-carousel-arrow--right {
      right: em-ds-space(s);
      top: 0;

      &::before {
        transform: rotate(-30deg);
      }

      &::after {
        transform: rotate(30deg);
      }
    }
  }
}