.em-ds-select {
  @include inputBox(false);
  display: inline-block;
  position: relative;
  width: 100%;
  appearance: none;
  background: transparent;
  @include inputBox(false);

  &+.em-ds-icon {
    position: absolute;
    right: 0.5rem;
    // top: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }
}