.em-ds-conmodal {
  overflow: hidden;
  background-color: em-ds-color(neutral, 0000);
  border-radius: 0.425em;
  text-align: center;
  width: 75%;
  
  &.em-ds-modal {
    @media screen and (max-width: 640px) {
      width: calc(100% - 5rem);
    }
  }

  .em-ds-header {
    height: em-ds-space(m);
  }

  .em-ds-modal--content {
    @include em-ds-padding(none);
    margin-bottom: em-ds-space(none);
  }

  .em-ds-modal--container {
    @include em-ds-padding(none);
    border: none;
    .em-ds-button {
      width: 100%;
      height: em-ds-space(xl);
      font-size: em-ds-font-size(300);
    }
  }

}
.em-ds-conmodal--content {
  @include center();
  @include em-ds-padding(s l l l);
  text-align: left;
  margin: 0 auto;
  color: em-ds-color(neutral, 500);
  font-size: em-ds-font-size(300);
}

.em-ds-modal--container{
  display: inline-flex;
  box-sizing: border-box;
  justify-content: center;
  border: 1px solid em-ds-color(neutral, 200);
  padding: em-ds-space(xs);
  width: 50%;
}


