.em-ds-buttongroup {
  @include em-ds-body-text-style();

  .em-ds-carousel-row {
    display: flex;
    width: 100%;

    .em-ds-carousel-column {
      margin: em-ds-space(xxs);
      line-height: em-ds-space(xl) * 0.75;
      position: relative;
      width: 38%;
    }
  }

  .em-ds-buttongroup-slide {
    background: transparent;
    color: em-ds-color(neutral, 100);
    flex-direction: column;
    line-height: em-ds-space(xxs);
    text-align: center;

    label {
      text-overflow: ellipsis;
      border: 1px solid em-ds-color(neutral, 300);
      border-radius: em-ds-space(xxs);
      color: em-ds-color(neutral, 700);
      cursor: pointer;
      display: block;
    }

    input[type=checkbox]{
      opacity: 0;
      position: absolute;
      top: 0;

      &:checked + label {
        font-weight: em-ds-font-weight(bold);
        border: 1px solid em-ds-color(brand, 700);
        color: em-ds-color(brand, 700);
        outline: none;
      }
    }
  }

  .em-ds-carousel-slide--active {
    opacity: 1;
  }

  .em-ds-buttoncarousel-slide:not(.em-ds-carousel-slide--active) {
    opacity: 0.35;
    pointer-events: none;

    input + label {
      user-select: none;
    }
  }

}
