@import '../../dimsum.scss';

.em-ds-grid {
    #sample-grid1 {
        background-color: em-ds-color(neutral,000);
    }
  
    #sample-grid2 {
        .cell:nth-child(odd) {
            background-color: em-ds-color(neutral,100);
        }
        .cell:nth-child(even) {
            background-color: em-ds-color(neutral,200);
        }
    }
  }