.scenario-card {
    width: 30%;
    align-content: center;
    border-radius: em-ds-space(xs);
    @include em-ds-padding(xs);
    .em-ds-card {
        margin:auto;
        border-radius: em-ds-space(xs);
        border: 2px solid em-ds-color(neutral, 200);
        background-color: em-ds-color(neutral, 050);
        .em-ds-card-header {
            min-height: em-ds-space(xs);
            display: flex;
            flex-direction: column;
            align-items: baseline;
            @include em-ds-padding(xs);
            .top-section-header {
                display: flex;
                width: 100%;
                .em-ds-card-heading {
                    flex: 1;
                    @include em-ds-padding(none xs);
                    flex-direction: row;
                    display: inline-flex;
                    align-items: baseline;
                    h2 {
                      margin-right: em-ds-space(xxs);
                      color: em-ds-color(brand, 600);
                    }
                } 
                .em-ds-card-icon {
                    flex: 0 0 auto;
                    margin-top: em-ds-space(xs);
                }   
            }
            .subtitle-info-card {
                display: flex;
                @include em-ds-padding(none xs);
                font-size: em-ds-font-size(100);
            }
            
        }
        .bottom-line {
            width: 95%;
            border-top: 1px solid em-ds-color(neutral, 200);
            margin: 0 auto;
        }
        .em-ds-top-data {
            width: 100%;
            position: relative;
            display: flex;
            min-height: em-ds-space(l);
            background-color: em-ds-color(neutral, 050);
            margin-bottom : em-ds-space(xxs);
            text-align: left;
            .general-info {
                display: flex;
                flex-direction: column;
                width: 33%;
                align-items: center;
                
            }
            .general-info-title {
                font-size: em-ds-font-size(200);
                color: em-ds-color(neutral, 600);
            }
            .general-info-content {
                font-size: em-ds-font-size(200);
                color: em-ds-color(neutral, 800);
            } 
           
        }
        .info-text {
            width: 100%;
            background-color: em-ds-color(neutral, 000);
            text-align: center;
            .chart-info-title {
                font-size: em-ds-font-size(400);
                font-weight: em-ds-font-weight(bold);
                color: em-ds-color(neutral, 800)
            }
            .chart-info-subtitle {
                font-size: em-ds-font-size(100);
                color: em-ds-color(neutral, 500);
            }
        }
        
        .data-container {
            display:flex;
            width: 100%;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            background-color: em-ds-color(neutral, 000);
            .graph-container {
                position: relative;
                width:55%;
            }
            .info-container {
                width: 45%;
                display: flex;
                flex-direction: column;
                .data-title {
                    font-size: em-ds-font-size(100);
                    color: em-ds-color(neutral, 400);
                }
                .data-content {
                    font-size: em-ds-font-size(200);
                    font-weight: em-ds-font-weigh(bold);
                    color: em-ds-color(neutral, 800)
                }
            }    
        }
        .card-footer {
            margin-top: em-ds-space(xs);
            position: relative;
            background-color: em-ds-color(neutral, 050);
            min-height: em-ds-space(xl);
            width: 100%;
            display: flex;
            align-items: center;
            border-radius: em-ds-space(xs);
            .em-ds-buttons-container {
                margin:auto;
                .em-ds-button {
                    font-size: em-ds-font-size(100);
                }
            }
        }
        
    }
    
}

@media (min-width: 1440px) {
    .scenario-card {
        width: 28%;
    }    
}

@media (max-width: 1024px){
    .scenario-card {
        width: 40%;
    }    
}

