/// Returns the color value for a given color name and group.
///
/// @param {String} $hue - The color's hue.
/// @param {Number} $range - The darkness/lightness of the color. Defaults to base. The higher the number, the darker the color.
/// @return {Color} The color value.

@function em-ds-color($hue, $range: 600) {
  $fetched-color: map-get(map-get($em-ds-color-palette-data, $hue), $range);

  @if map-has-key($em-ds-color-palette-data, $fetched-color) {
    $fetched-color: map-get(map-get($em-ds-color-palette-data, $fetched-color), $range);
  }

  @if type-of($fetched-color) == color {
    @return $fetched-color;
  } @else {
    @error 'Color `#{$hue} - #{$range}` not found. Available colors: #{available-names($em-ds-color-palette-data)}';
  }
}