/// Returns the duration value for a given variant.
///
/// @param {String} $variant - The key for the given variant.
/// @return {Number} The spacing for the variant (in milliseconds).

@function em-ds-duration($variant: base) {
  $fetched-value: map-get($duration-data, $variant);

  @if type-of($fetched-value) == number {
    @return $fetched-value;
  } @else {
    @error 'Duration variant `#{$variant}` not found. Available variants: #{available-names($duration-data)}';
  }
}
/// Returns the timing-function value for a given variant.
///
/// @param {String} $variant - The key for the given variant.
/// @return {String} The cubic-bezier function (string) for the variant.
@function em-ds-easing($variant: base) {
  $fetched-value: map-get($easing-data, $variant);
  @if type-of($fetched-value) == string {
    @return $fetched-value;
  } @else {
    @error 'Easing variant `#{$variant}` not found. Available variants: #{available-names($easing-data)}';
  }
}