/// Returns the font size for a given range.
///
/// @param {Number} $range - The font style.
/// @return {Number} The font-size for the text-style.
@function em-ds-font-size($range) {
  $fetched-font-size: map-get($em-ds-font-size-data, $range);
  @if type-of($fetched-font-size) != null {
    @return $fetched-font-size;
  } @else {
    @error 'Font size range `#{$range}` not found. Available font sizes: #{available-names($em-ds-font-size-data)}';
  }
}

/// Returns the line height for a given range.
///
/// @param {Number} $range - The font style.
/// @return {Number} The line-height for the text-style.
@function em-ds-line-height($range: normal) {
  $fetched-line-height: map-get($em-ds-line-height-data, $range);
  @if type-of($fetched-line-height) != null {
    @return $fetched-line-height;
  } @else {
    @error 'Line height `#{$range}` not found. Available line heights: #{available-names($em-ds-line-height-data)}';
  }
}

/// Returns the font weight for a given weight definition.
///
/// @param {String} $weight - The font weight.
/// @return {Number} The font-weight for the text-weight.
@function em-ds-font-weight($weight: normal) {
  $fetched-font-weight: map-get($em-ds-font-weight-data, $weight);
  @if type-of($fetched-font-weight) != null {
    @return $fetched-font-weight;
  } @else {
    @error 'Font weight `#{$weight}` not found. Available font weights: #{available-names($em-ds-font-weight-data)}';
  }
}