@import '../../../../../node_modules/react-toastify/scss/main.scss';

.toast-container {
    min-height: em-ds-space(xl)
}
.em-dimsum-toast {
    //override react-toastify style
    font-family: $font-base; 
    font-size: em-ds-font-size(300);
    color: #333333;
    span {
        padding-left: em-ds-space(xs);
        display: inline-block;
        width: 85%;
        font-weight: em-ds-font-weight(bold);
    } 
    span.toast-subtitle {
        display: inline-block;
        width: 85%;
        padding-left: em-ds-space(m) + 4;
        font-weight: normal;
        color: em-ds-color(neutral, 500);
    } 
    .em-ds-icon {
        &.success path {
            fill: em-ds-color(success, 900);
        }
        &.warning path {
            fill: em-ds-color(brand, 400);
        }
        &.error path {
            fill: em-ds-color(danger, 900);
        }
        &.close path {
            fill: em-ds-color(neutral, 500);
        }
    }
}

