.em-ds-buttoncarousel {
  @include em-ds-body-text-style();
  
  .em-ds-carousel-row {
    display: flex;
    width: 100%;
    
    .em-ds-carousel-column {
      background: transparent;
      color: em-ds-color(neutral, 100);
      display: flex;
      flex-direction: column;
      line-height: em-ds-space(xl) * 0.75;
      margin: em-ds-space(xxs);
      position: relative;
      text-align: center;
      width: 47%;
    }
  }

  .em-ds-buttoncarousel-slide {
    background: transparent;
    color: em-ds-color(neutral, 100);
    display: flex;
    flex-direction: column;
    line-height: em-ds-space(xl) * 0.75;
    text-align: center;

    label {
      border: 1px solid em-ds-color(neutral, 300);
      border-radius: em-ds-space(xxs);
      color: em-ds-color(neutral, 700);
      cursor: pointer;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    input[type=checkbox] {
      opacity: 0;
      position: absolute;
      top: 0;

      &:checked + label {
        border: 1px solid em-ds-color(brand, 700);
        color: em-ds-color(brand, 700);
        font-weight: em-ds-font-weight(bold);
        outline: none;
      }
    }
  }

  .em-ds-carousel-slide--active {
    opacity: 1;
  }

  .em-ds-buttoncarousel-slide:not(.em-ds-carousel-slide--active) {
    opacity: 0.35;
    pointer-events: none;
    input + label{
      user-select: none;
    }
  }
}