.comparison {
    top: em-ds-space(xl);
    position: relative;
    width: 80%;
    margin:auto;
    .header-comparison {
        width: 100%;
        display:flex;
        margin: auto;
        align-items: center;
        min-height: em-ds-space(xl);
        justify-content: space-between;
        margin-bottom: em-ds-space(l);
        @include em-ds-padding(none s);
        .icon-container {
            @include em-ds-padding(none xs);
            z-index: 10;
            .sort-icon {
                @include em-ds-padding(none);
                margin-right : em-ds-space(s);
            }
            .message-icon {
                @include em-ds-padding(none);
                margin-right : em-ds-space(s);
            }
        }
    }
}

.option-items-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin:auto;
    width: 100%;
    flex:1;
    .option-item {
        cursor: pointer;
        display:flex;
        text-align: left;
        @include em-ds-padding(s);
        .em-ds-label {  
          font-size: em-ds-font-size(300);
          
        }
        .item-icon {
            @include em-ds-padding(none);
            margin-right : em-ds-space(s);
        }
    }
}